{% extends 'store/base.html' %}

{% block content %}
  {% if request.user.is_superuser %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="border p-4">
            <h2 class="text-center mb-4">Add Product</h2>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success">Add Product</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <p class="text-center mt-4">Only superusers have access to this page.</p>
  {% endif %}
{% endblock content %}