{% extends 'store/base.html' %}
{% load static %}
{% block content%}
<h1>Available products</h1>
<div class="row">
    {% for product in products %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{product.image.url}}">
        <div class="box-element product">
            <h5><strong>{{product.name}}</strong></h5>
            <p>{{product.description}}</p>
            <hr>
            <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-success add-btn update-cart">Add to cart</button>
            <a href="{% url 'product_detail' product_id=product.pk %}" class="btn btn-outline-secondary">View</a>
            {% if user.is_superuser %}
            <a href="{% url 'delete_product' product_id=product.pk %}" class="btn btn-outline-danger">Delete</a>
            {% endif %}
            <h4 style="display: inline-block; float: right">${{product.price|floatformat:2}}</h4>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content%}

